#Set allow origin
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Max-Age "1000"
Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"

#Rewriting urls on
RewriteEngine on

#Redirect to url with www
#rewriteCond %{HTTP_HOST} ^domein.nl [NC]
#rewriteRule ^(.*)$ http://www.domein.nl/ [R=301,L]

#Rewrite Website
RewriteRule ^([-a-zA-Z0-9]+)/?$ index.php?page=$1 [L]
RewriteRule ^addressdetails/([-a-zA-Z0-9]+)/?$ index.php?page=addressdetails&id=$1 [L]
RewriteRule ^addresschange/([-a-zA-Z0-9]+)/?$ index.php?page=addresschange&id=$1 [L]
RewriteRule ^addresscreate/([-a-zA-Z0-9]+)/?$ index.php?page=addresscreate&id=$1 [L]
RewriteRule ^addressdelete/([-a-zA-Z0-9]+)/?$ index.php?page=addressdelete&id=$1 [L]
RewriteRule ^consignmentdetail/([-a-zA-Z0-9]+)/?$ index.php?page=consignmentdetail&id=$1 [L]
RewriteRule ^consignmentchange/([-a-zA-Z0-9]+)/?$ index.php?page=consignmentchange&id=$1 [L]
RewriteRule ^consignmentdelete/([-a-zA-Z0-9]+)/?$ index.php?page=consignmentdelete&id=$1 [L]
RewriteRule ^employeechange/([-a-zA-Z0-9]+)/?$ index.php?page=employeechange&id=$1 [L]
RewriteRule ^employeedetails/([-a-zA-Z0-9]+)/?$ index.php?page=employeedetails&id=$1 [L]
RewriteRule ^employeedelete/([-a-zA-Z0-9]+)/?$ index.php?page=employeedelete&id=$1 [L]
RewriteRule ^parcelcreate/([-a-zA-Z0-9]+)/?$ index.php?page=parcelcreate&id=$1 [L]
RewriteRule ^parceldetail/([-a-zA-Z0-9]+)/?$ index.php?page=parceldetail&id=$1 [L]
RewriteRule ^parcelchange/([-a-zA-Z0-9]+)/?$ index.php?page=parcelchange&id=$1 [L]
RewriteRule ^parceldelete/([-a-zA-Z0-9]+)/?$ index.php?page=parceldelete&id=$1 [L]
RewriteRule ^customerdetail/([-a-zA-Z0-9]+)/?$ index.php?page=customerdetail&id=$1 [L]
RewriteRule ^customerchange/([-a-zA-Z0-9]+)/?$ index.php?page=customerchange&id=$1 [L]
RewriteRule ^contactdetail/([-a-zA-Z0-9]+)/?$ index.php?page=contactdetail&id=$1 [L]
RewriteRule ^contactchange/([-a-zA-Z0-9]+)/?$ index.php?page=contactchange&id=$1 [L]
RewriteRule ^contactcreate/([-a-zA-Z0-9]+)/?$ index.php?page=contactcreate&id=$1 [L]
RewriteRule ^account/([-a-zA-Z0-9]+)/?$ index.php?page=account&id=$1 [L]